:root {
   --background-mentioned-side: rgb(114, 137, 218);
   --background-mentioned: rgba(114, 137, 218, 0.05);
   --background-mentioned-hover: rgba(114, 137, 218, 0.12);
   --local-bot-side: rgb(240, 71, 71); 
   --local-bot-default: rgba(240, 71, 71, 0.05);
   --local-bot-hover: rgba(240, 71, 71, 0.12);
}

/* Pings. */
.mentioned-xhSam7.groupStart-23k01U.selected-2P5D_Z {
   background: var(--background-mentioned);
}
.mentioned-xhSam7:before {
   background: var(--background-mentioned-side);
}
/* Clyde Notifications. */
.localBot-GrCgVt,
.localBot-GrCgVt.groupStart-23k01U.selected-2P5D_Z {
   background: var(--local-bot-default);
} 
.localBot-GrCgVt:before {
   background: var(--local-bot-side)
}
.localBot-GrCgVt.selected-2P5D_Z,
.mouse-mode.full-motion .localBot-GrCgVt:hover {
   background: var(--local-bot-hover);
}
