/* 25px Borders */
.button-38aScr,
.item-26Dhrx,
.side-8zPYf6 > .item-PXvHYJ,
.scrollableContainer-2NUZem,
.checkbox-1ix_J3,
.userInfoViewing-16kqK3,
.userInfoEditing-1CEzdT,
.input-cIJ7To, 
.css-1a8reka-control,
.css-gd8if9-control,
.container-CpszHS,
.gameNameInput-385LoS,
.searchBar-3dMhjb,
.searchBarComponent-32dTOx,
.copyInputDefault-21sXtF,
.addInputWrapper-1BOZ3d > .wrapper-1cBijl,
.inputWrapper-31_8H8,
.container-1s4HBn,
.draggable-1EOU8o,
.searchBar-1YE5UV,
.autocompleteRowVertical-q1K4ky > .selector-2IcQBU,
.searchBar--fTZYa,
.member-3-YXUe > .layout-2DM8Md,
.auditLog-3jNbM6,
.auditLog-3jNbM6 > .headerDefault-1wrJcN,
.auditLog-3jNbM6 > .headerClickable-2IVFo9 {
   border-radius: 25px !important
}
/* 20px Borders */
.formNotice-2_hHWR, 
.accountList-33MS45, 
.banner-3Kac2g, .wrapper-3jrx9n,
.powercord-product,
.powercord-entities-manage-tabs,
.descriptionBox-1EKQKL,
.upsellContainer-L9xv7w,
.userPopout-3XzG_A,
.inner-1ilYF7 > .flex-1xMQg5,
.quickswitcher-3JagVE,
.uploadModal-2ifh8j,
.hero-EvfTTA {
   border-radius: 20px 
}
/* 15px Borders */
.authedApp-mj2Hmd, 
.connection-1fbD7X,
.detailsBlock-FoDTGA,
.accountCredit-2hUNux,
.cardWrapper-2Min21, .card-3AyPWq,
.wrapper-3nSjSv,
.membershipDialog-rVL-t_,
.previewContainer-37c2Si,
.marginBottom20-32qID7 > .formNotice-2_hHWR,
.option-n0icdO,
.flexCenter-3_1bcw:before,
.preview-2nSL_2,
.codeRedemptionRedirect-1wVR4b,
.powercord-account,
.card-o7rAq-,
.featureCard-1RR4Tl,
.itemCard-v9viV7,
.card-FDVird:before,
.checklistContainer-mFJZEJ,
.container-3JTnYm,
.autocomplete-1vrmpx,
.feature-2w65J5,
.contentWrapper-SvZHNd,
.searchBar-5di9mG,
.streamPreview-2-WUWT {
   border-radius: 15px
}
/* 10px Borders */
.children-rWhLdy > .flexCenter-3_1bcw,
.menu-3sdvDG,
.input-2VB9rf,
.inset-3sAvek {
   border-radius: 10px
}



/* Specific Border Changes */
.auditLog-3jNbM6 > .headerExpanded-CUEwZ5 { 
   border-radius: 25px 25px 0px 0px /* Top 25px */
}
.auditLog-3jNbM6 > .changeDetails-bk98pu { 
   border-radius: 0px 0px 25px 25px /* Bototm 25px */
}

.css-2yldzf-control,
.checklistHeader-1KWcEY,
.tierHeaderUnlocked-2RhWqn,
.tierHeaderLocked-1a2opw { 
   border-radius: 15px 15px 0px 0px /* Top 15px */
}
.css-n57xjs-menu,
.tierBody-x9kBBp {
   border-radius: 0px 0px 15px 15px /* Bottom 15px */
}

.upsellContainer-L9xv7w > .upsellFooter-ZYsio_,
.uploadModal-2ifh8j > .footer-3mqk7D { 
   border-radius: 0px 0px 20px 20px /* Bottom 20px */
}

.searchFilter-2ESiM3 { 
   border-radius: 10px 0px 0px 10px /* Top Left Bottom Left 10px */
}
.searchAnswer-3Dz2-q {
   border-radius: 0px 10px 10px 0px /* Top Right Bottom Right 10px */
}



/* other changes */
.accountCreditRow-SHgyi0:not(:last-child) {
   padding-bottom: 16px;
   border-bottom: none
}

.inputWrapper-31_8H8:before {
   display: none
}
