.scrollableContainer-2NUZem, 
.radioGroup-1GBvlr > .directionRow-3v3tfG, .side-8zPYf6 > .item-PXvHYJ,
.item-3HknzM,
.side-8zPYf6,
.button-38aScr,
.checkbox-1ix_J3,
.select-2TCrqx,
.css-1a8reka-control, .css-gd8if9-control, .container-CpszHS,
.authedApp-mj2Hmd,
.codeRedemptionRedirect-1wVR4b,
.inputDefault-_djjkz,
.container-cMG81i,
.searchBar-3dMhjb, .searchBarComponent-32dTOx,
.layout-2DM8Md,
.input-cIJ7To,
.accountBtnInner-sj5jLs,
.cardPrimaryEditable-3KtE4g,
.content-1LAB8Z > .message-2qRu38,
.itemCard-v9viV7 {
   border-radius: 25px !important;
}

.accountCredit-2hUNux,
.iconBackgroundTier2-2TeI3a, .iconBackgroundTier1-2GOcU8,
.banner-3Kac2g,
.detailsBlock-FoDTGA,
.previewContainer-37c2Si,
.activeGame-14JI7o,
.preview-2nSL_2,
.userPopout-3XzG_A, .flex-1xMQg5, 
.contentWrapper-SvZHNd, .emojiPicker-3PwZFl,
.recentMentionsPopout-3rCiI6,
.connection-1fbD7X,
.accountList-33MS45,
.cardWrapper-2Min21, .card-3AyPWq,
.wrapper-3nSjSv,
.membershipDialog-rVL-t_,
.powercord-account,
.formNotice-2_hHWR,
.card-3Qj_Yx,
.root-1ANs48, .root-1gCeng,
.integration-3kMeY4,
.uploadModal-2ifh8j,
.flexCenter-3_1bcw:before,
.autocomplete-1vrmpx, .selectorSelected-1_M1WV,
.menu-3sdvDG,
.inset-3sAvek {
   border-radius: 15px !important;
}

.customItem-a8hq58 > .button-F9qN4n,
.item-1tOPte {
   border-radius: 6.5px !important;
}


.footer-3mqk7D {
   border-radius: 0px 0px 15px 15px !important;
}

.inputWrapper-31_8H8:before {
   display: none;
}

/* thank u hellbound */
.accountCreditRow-SHgyi0:not(:last-child) {
   padding-bottom: 16px;
   border-bottom: none;
}
