.scrollableContainer-2NUZem, 
.item-26Dhrx,
.item-PXvHYJ,
.button-38aScr,
.checkbox-1ix_J3,
.select-2TCrqx,
.css-1a8reka-control,
.css-gd8if9-control,
.container-CpszHS,
.formNotice-2_hHWR,
.authedApp-mj2Hmd,
.accountList-33MS45,
.connection-1fbD7X,
.codeRedemptionRedirect-1wVR4b,
.inputDefault-_djjkz,
.cardWrapper-2Min21, .card-3AyPWq,
.membershipDialog-rVL-t_,
.powercord-account,
.card-3Qj_Yx,
.container-cMG81i,
[type="button"] {
   border-radius: 25px !important;
}

.accountCredit-2hUNux,
.iconBackgroundTier2-2TeI3a,
.iconBackgroundTier1-2GOcU8,
.banner-3Kac2g,
.detailsBlock-FoDTGA,
.previewContainer-37c2Si,
.activeGame-14JI7o,
.preview-2nSL_2,
.userPopout-3XzG_A, .flex-1xMQg5 {
   border-radius: 15px !important;
}

/* thank u hellbound */
.accountCreditRow-SHgyi0:not(:last-child) {
   padding-bottom: 16px;
   border-bottom: none;
}
