/* Removes original indicator stuff */
.content-3at_AU, 
.channel-2QD9_O > .layout-2DM8Md {
    background: rgba(0, 0 ,0 ,0) !important
}

/* Selected Channel */
.modeSelected-1zApJ_, 
.modeSelected-1zApJ_:hover,
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 {
    background: var(--selected-bg) !important;
    border-left: 2px solid var(--selected-badge) !important;
    border-radius: var(--bg-rounding) !important
}

/* Unread Channels */
.modeUnread-1zpFdA {
    background: var(--unread-bg);
    border-left: 2px solid var(--unread-badge) !important;
    border-radius: var(--bg-rounding) !important
}
.unread-3zKkbm {
    display: none !important
}

/* Hovering on channels */
.wrapper-1ucjTd:hover,
.modeUnread-1zpFdA:hover,
.channel-2QD9_O.container-2Pjhx-:hover {
    background: var(--hovered-bg);
    border-radius: var(--bg-rounding) !important
}

/* Positioning Fixes */
.modeSelected-1zApJ_ > .content-3at_AU > .mainContent-ENyL1r > svg,
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 > .layout-2DM8Md > .avatar-3uk_u9 > .wrapper-3t9DeA > svg,
.modeUnread-1zpFdA > .content-3at_AU > .mainContent-ENyL1r > svg,
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 > .layout-2DM8Md > .content-3QAtGj {
    margin-left: -2px
}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 > .layout-2DM8Md > .avatar-3uk_u9 > svg {
    margin-left: -4px !important
}
.avatar-3uk_u9 {
    margin-left: 8px;
}
.channel-2QD9_O {
    margin-left: 0px
}
