:root {
    --unread-badge: rgba(255,255,255,0.6);
    --unread-bg: rgba(255, 255, 255, 0.01);
    --selected-badge: rgb(112, 135, 215);
    --selected-bg: rgba(112, 135, 215, 0.1);
    --hovered-bg: rgba(79,84,92,0.25);
    --bg-rounding: 0px 10px 10px 0px
}

/* Selected Channel */
.modeSelected-1zApJ_, 
.modeSelected-1zApJ_:hover,
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 {
    background: var(--selected-bg) !important;
    border-left: 2px solid var(--selected-badge) !important;
    border-radius: var(--bg-rounding) !important
}
.modeSelected-1zApJ_ > .content-3at_AU > .mainContent-ENyL1r > svg,
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 > .layout-2DM8Md > .content-3QAtGj,
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 > .layout-2DM8Md > .avatar-3uk_u9 > .wrapper-3t9DeA > svg  {
    margin-left: -2px
}
.channel-2QD9_O.container-2Pjhx-.selected-aXhQR6 > .layout-2DM8Md > .avatar-3uk_u9 > svg {
    margin-left: -4px !important
}
.channel-2QD9_O {
    margin-left: 0px
}

/* Unread Channels */
.modeUnread-1zpFdA {
    background: var(--unread-bg);
    border-left: 2px solid var(--unread-badge) !important;
    border-radius: var(--bg-rounding) !important
}
.modeUnread-1zpFdA > .content-3at_AU > .mainContent-ENyL1r > svg {
    margin-left: -2px
}
.unread-3zKkbm {
    display: none !important
}

/* Hovering on channels */
.wrapper-1ucjTd:hover,
.modeUnread-1zpFdA:hover {
    background: var(--hovered-bg);
    border-radius: var(--bg-rounding) !important
}


.content-3at_AU, 
.layout-2DM8Md {
    background: rgba(0, 0 ,0 ,0) !important
}
