:root {
   --border-radius: 15px 15px 0 0;
   --left-positioning: 5px;
   --right-padding: 5px;
}

.sidebar-2K8pFh,
.chat-3bRxxu,
.container-3Mxszk,
.applicationStore-1pNvnv {
   border-radius: var(--border-radius) !important
}

.chat-3bRxxu,
.container-1D34oG,
.container-3Mxszk,
.applicationStore-1pNvnv {
   position: relative;
   left: var(--left-positioning);
   padding-right: var(--right-padding)
}
