:root {
   --tooltip-color: rgba(95, 118, 202, 0.5);
   --tooltip-blur: blur(1.5px);
}

.tooltip-2QfLtc {
   background-color: var(--tooltip-color) !important;
   backdrop-filter: var(--tooltip-blur);
   text-shadow: #000 0 0 5px;
}
.tooltipPointer-3ZfirK {
   border-top-color: var(--tooltip-color) !important;
}

.tooltipContent-bqVLWK > .colorMuted-HdFt4q {
   color: #F04747;
   font-weight: bold;
}
.tooltipContent-bqVLWK > .colorMuted-HdFt4q::before {
   content: " ";
   background: url(https://raw.githubusercontent.com/LuckFire/CSS-Snippets/master/BetterTooltips/Assets/MutedIcon.svg) center/100% no-repeat;
   padding-left: 21px;
   margin-left: 1px;
   margin-right: 7px;
   filter: drop-shadow(0 0 1.5px #000);
}

.tooltipContent-bqVLWK > .row-2OVM4t > svg {
   filter: drop-shadow(0 0 1.5px #000);
}
.tooltipContent-bqVLWK > .row-2OVM4t > svg > path {
   fill: #43B581;
}
