.toolbar-1t6TWx {
   margin-right: 105px;
}
.winButton-iRh8-Z:hover {
   background-color: rgba(0,0,0,0);
}
.winButton-iRh8-Z > svg {
   display: none;
}


.winButton-iRh8-Z::before {
   content: "";
   padding: 10px;
   margin-top: 70px;
}


.winButtonClose-1HsbF- {
   position: fixed;
   margin-left: -77px;
   margin-top: 8px;
}
.winButtonClose-1HsbF-::before {
   background-color: #FF605C;
}
.winButtonClose-1HsbF-:hover::before {
   background-color: #944A50;
}

.winButtonMinMax-PBQ2gm[aria-label="Minimize"]::before {
   background-color: #FFBD44;
   margin-right: 32px;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"]:hover::before {
   background-color: #947944;
}

.winButtonMinMax-PBQ2gm[aria-label="Maximize"]::before {
   background-color: #00CA4E;
   margin-right: 20px;
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"]:hover::before {
   background-color: #107639;
}
