.winButton-iRh8-Z {
   pointer-events: none;
   margin-left: -2px;
   right: -6px;
   width: 22px;
}
.wordmarkWindows-1v0lYD {
   position: relative;
   top: -4.5px;
   order: 4;
}
.scroller-2TZvBN {
   top: 2px;
}
.winButton-iRh8-Z:hover {
   background-color: var(--background-teritary);
}
.winButton-iRh8-Z > svg {
   display: none;
}


.titleBar-AC4pGV.directionRowReverse-m8IjIq {
   flex-direction: row;
}

.winButton-iRh8-Z::after {
   content: "";
   padding: 7px;
   border-radius: 50px;
   pointer-events: fill;
}

.winButtonClose-1HsbF- {
   order: 1;
}
.winButtonClose-1HsbF-::after {
   background-color: #FF605C;
}
.winButtonClose-1HsbF-:hover::after {
   background-color: rgba(255, 96, 92, 0.5);
}

.winButtonMinMax-PBQ2gm[aria-label="Minimize"] {
   order: 2;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"]::after {
   background-color: #FFBD44;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"]:hover::after {
   background-color: rgba(255, 189, 68, 0.5);
}

.winButtonMinMax-PBQ2gm[aria-label="Maximize"] {
   order: 3;
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"]::after {
   background-color: #00CA4E;
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"]:hover::after {
   background-color: rgba(0, 202, 78, 0.5);
}
