.wordmark-2iDDfm,
.winButton-iRh8-Z > svg {
   display: none;
}
.titleBar-AC4pGV {
   margin-top: -10px;
}
.winButton-iRh8-Z,
.winButton-iRh8-Z:hover {
   background-color: rgba(0, 0, 0, 0);
   pointer-events: none;
}
.scroller-2TZvBN {
   margin-top: 25px;
}


.winButton-iRh8-Z::before {
   content: "";
   position: relative;
   pointer-events: fill;
   padding: 8px;
   border-radius: 15px;
   margin: 45px 12px 0 0;
}

.titleBar-AC4pGV.directionRowReverse-m8IjIq {
   flex-direction: row;
}
.winButtonClose-1HsbF- {
   order: 1;
   margin: 0 -5px 0 5px;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"] {
   order: 2;
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"] {
   order: 3;
   margin-left: -5px;
}


.winButtonClose-1HsbF-::before {
   background-color: #FF605C;
}
.winButtonClose-1HsbF-:hover::before {
   background-color: #944A50;
}

.winButtonMinMax-PBQ2gm[aria-label="Minimize"]::before {
   background-color: #FFBD44;
}
.winButtonMinMax-PBQ2gm[aria-label="Minimize"]:hover::before {
   background-color: #947944;
}

.winButtonMinMax-PBQ2gm[aria-label="Maximize"]::before {
   background-color: #00CA4E;
}
.winButtonMinMax-PBQ2gm[aria-label="Maximize"]:hover::before {
   background-color: #107639;
}
